body {
  background-color: #fffbfa;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 26px;
  line-height: 1.5;
  font-weight: 300;
}

h1 {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
}

h2 {
  margin-top: 32px;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #512a4f;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  max-width:43ch;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #512a4f;
  font-weight: 600;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-style: italic;
  font-weight: 300;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h6 a, h5 a, h4 a, h3 a, h2 a, h1 a {
  text-decoration:none;
}

p {
  margin-bottom: 15px;
}

ul, p, li {
  max-width: 43ch;
}

ul {
  padding-inline-start:0.75em;
}

a {
  color: #d5a23c;
  text-decoration-thickness:6% ;
  text-underline-offset: 5%;
}

a:hover {
  filter: brightness(.85);
}

strong {
  font-weight: 600;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.image {
  width: 100px;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fffbfa;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}

.nav-link.w--current {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(81, 42, 79, 0.15);
  color: #512a4f;
}

.button {
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #d5a23c;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.button:hover {
  filter:brightness(.95);
}

.button.full-wd {
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.button.button-footer {
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
}

.scroll {
  margin-top: 20vh;
}

.footer {
  position: relative;
  margin-top: 20vh;
  padding: 30px 10px;
  background-color: #512a4f;
  color: #fffbfa;
  font-size: 18px;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-actions {
  margin-bottom: 10px;
}

.footer-p {
  margin-bottom: 5px;
}

.footer-logo {
  width: 150px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  padding:0 0 0 30px;
}

.div-block {
  height: 100%;
  float: left;
}

.container-2 {
  position: relative;
}

.huge-logo {
  width: 600px;
  padding-right: 75px;
  opacity: 0.1;
}

.shout {
  max-width: 30ch;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
  margin-top:0;
}

.shout-box {
  padding-top:5vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.discord-embed {
  margin-top: 50px;
}

.grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items:start;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-label {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  border-top: 1px solid #bfc0c0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  border-top: 1px solid #bfc0c0;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

.grid-span-2 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.grid-span-3 {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}


.small p, .small li, p.small {
  font-size:20px;
}

.tile-icon {
  max-width:120px;
}

.top-45 {
  margin-top: 45px;
}

.top-30 {
  margin-top: 30px;
}

.top-0 {
  margin-top: 0;
}

.bottom-0 {
  margin-bottom: 0;
}

.bottom-20 {
  margin-bottom: 20px;
}

.text-field {
  height: 48px;
  font-size: 18px;
}

.form-field-label {
  color: #515052;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#email-form {
  max-width: 30ch;
}

.airtable-box {
  margin: 40px;
}

.boxed {
  padding:15px;
  margin: 15px 0;
  border: 2px solid rgba(81, 42, 79, 0.15);
}

.quote {
  font-weight: 500;
}

.citation {
  font-style: italic;
  margin-bottom:0;
}

@media screen and (max-width: 991px) {
  body {
    padding-right: 10px;
    padding-left: 10px;
  }

  .nav-container {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .nav-menu {
    padding: 20px;
    background-color: #bfc0c0;
  }

  .navbar {
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .nav-link.w--current {
    border-color: #fffbfa;
  }

  .shout {
    font-size: 48px;
    margin-top:0;
  }

  .footer {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .huge-logo {
    width: 150px;
    padding-right: 0px;
  }

  .shout-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-container-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
  }

  .navbar {
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px 0px;
  }

  .button {
    width: 100%;
    font-size: 18px;
  }

  .grid-3 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
  }

  .grid-span-3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  .airtable-box {
    margin: 10px;
  }

}


@media screen and (max-width: 479px) {
  .shout {
    font-size: 36px;
  }

  .shout-box {
    padding-top:10px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  .button.button-footer {
    width: 100%;
    margin-right: 1px;
    margin-left: 1px;
  }

  .footer {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .logo {
    max-width: 80%;
  }

  .grid, .grid-2 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
  }

  .grid-span-2 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

}


/* Dark mode */

@media (prefers-color-scheme: dark) {
body {
background-color: #000;
color: #fffbfa;
}
h3, h4 {
color:#bfc0c0;
  }

.footer, .navbar {
background-color: #333;
  color: #fffbfa;
  }
  .huge-logo, .logo {
filter: invert(1);
  }
  .nav-link{
color:#fffbfa;
  }
  .nav-link.w--current {
color: #bfc0c0;
    border-color:#bfc0c0;
  }