{
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"semi": true,
	"tabWidth": 2,
	"useTabs": false,
	"printWidth": 120,
	"endOfLine": "auto",
	"singleQuote": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"trailingComma": "none",
	"quoteProps": "as-needed",
	"jsxBracketSameLine": false
}
