.footer {
  background-color: var(--purple);
  padding: 3rem;
  padding-left: 3rem;
  padding-right: 5rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  position: relative;
  color: var(--white);
}

.footer__content {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
  text-align: center;
}



.copyright {
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.social__icons {
  display: flex;
  justify-content: center;
}

.social__icon {
  color: var(--white);
  font-size: 2.5rem;
  padding: 0 2rem;
}
.footer__logo {
  position: absolute;
  left: 3rem;
}
.footer__logo__image {
  width: 10rem;
  fill: var(--white);
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-right: 3rem;
    justify-content: flex-end;
  }
  .footer__logo__image {
    width: 8rem;
  }
}

@media (prefers-color-scheme: dark) {
  .footer__logo__image {
    fill: var(--black);
  }
  .footer {
    background-color: var(--white2);
    color: var(--black);
  }
  .social__icon {
    color: var(--black);
  }
  .copyright {
    color: var(--black);
  }
}
