/* HERO */
.hero {
  min-height: calc(100vh);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background-repeat: repeat;
  background-size: unset;
  box-sizing: border-box;
  align-items: center;
  grid-column-gap: 8rem;
  padding-left: 3rem;
  padding-right: 5rem;
}

.hero__image {
  width: 100%;
  max-height: 50rem;
  z-index: 2;
  justify-self: end;
  fill: var(--grey-light);
}

.hero__content {
  max-width: 62rem;
  z-index: 2;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-gap: 3rem;
}

.hero__title {
  margin: 0;
  font-weight: 400;
  font-size: 6rem;
  color: var(--black);
}

.hero__message {
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--black);
  margin: 0;
}

.hero__links {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 2rem;
}

/* MAIN CONTENT WRAPPER */
.content {
  max-width: 62rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 7rem;
  grid-row-gap: 10rem;
  margin-bottom: 10rem;
}

.content__no__hero {
  margin-top: 15rem;
}

@media only screen and (max-width: 768px) {
  .hero__content {
    padding: 0 3rem;
  }
  .hero__image {
    width: calc(100% - 6rem);
  }
  .hero__title {
    font-size: 3.5rem;
  }
  .content__no__hero {
    margin-top: 10rem;
  }
  .section__anchor {
    position: absolute;
    top: -6rem;
  }
}

@media only screen and (max-width: 992px) {
  .content {
    grid-row-gap: 7rem;
  }
  .section {
    grid-column: span 2 !important;
  }
  .section__items {
    grid-auto-flow: row;
    grid-auto-rows: min-content;
  }
}

@media (max-width: 1380px) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0;
  }
  .hero__image {
    position: absolute;
    justify-self: center;
    opacity: 0.25;
  }
}

@media (prefers-color-scheme: dark) {
  .hero__image {
    fill: var(--white2);
  }
  .hero__title,
  .hero__message {
    color: var(--white2);
  }
}
