:root {
  --white: #fffbfa;
  --white2: rgba(255, 251, 250, 0.9);
  --grey-light: #bfc0c0;
  --grey-light-2: #dfe0e0;
  --grey-dark: #515052;
  --black: #000103;
  --gold: #d5a23c;
  --purple: #442645;
}

* {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 12px;
}

html,
body {
  margin: 0;
  min-height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--white);
}

main {
  background-color: var(--white);
}

/* 404 */
.four__oh__four {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.four__oh__four__content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.four__oh__four__message {
  font-size: 1.8rem;
  color: var(--black);
}

.four__oh__four__background {
  position: absolute;
  color: var(--black);
  font-size: 25rem;
  opacity: 0.05;
  pointer-events: none;
}

/* buttons */
.button {
  display: inline-flex;
  box-sizing: border-box;
  padding: 0 1rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--gold);
  border-radius: 0px;
  background: none;
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  white-space: normal;
}

button.btnPrimary {
  background-color: var(--gold);
  border: 2px solid var(--gold);
  color: var(--white);
}

button.btnSecondary {
  background-color: var(--purple);
  border: 2px solid var(--purple);
  color: var(--white);
}

.button--alt {
  color: var(--white);
}

.button--column {
  display: flex;
  flex-direction: column;
}

.button--borderless {
  border: none !important;
}

.button__icon {
  margin-left: 1rem;
}

.button:hover {
  background-color: var(--gold);
  color: var(--white);
}

.button--alt:hover {
  background-color: var(--gold);
  color: var(--black);
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--black);
  }
  main {
    background-color: var(--black);
  }

  .four__oh__four__content {
    color: var(--black);
  }

  .four__oh__four__background {
    color: var(--black);
  }

  .four__oh__four__message {
    font-size: 1.8rem;
    color: var(--white2);
  }

  .four__oh__four__background {
    color: var(--white2);
  }

  .button {
    /* border: 2px solid var(--white); */
    color: var(--white2);
  }

  .button:hover {
    background-color: var(--gold);
    color: var(--black);
  }

  .button--alt {
    /* border: 2px solid var(--black); */
    color: var(--black);
  }

  .button--alt:hover {
    background-color: var(--gold);
    color: var(--white2);
  }
}
