.nav {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
}

.nav__menu__button {
  display: none;
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  white-space: nowrap;
  grid-gap: 3rem;
  height: 100%;
  align-items: center;
  z-index: 10;
}

.nav__link {
  color: var(--purple);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
}

.nav__link:hover::after,
.nav__link__active::after {
  content: "*";
  position: absolute;
  color: var(--purple);
  left: 40%;
  font-size: 2.25rem;
  bottom: -2.5rem;
}

.nav__link__active {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .nav__menu__button {
    display: inline;
  }
  .nav__menu {
    display: none;
  }
  .nav__menu__open {
    display: grid;
    position: fixed;
    height: calc(100% - 6rem);
    top: 6rem;
    z-index: 15;
    width: 100vw;
    left: 0;
    background-color: var(--white);
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 0;
    margin-top: 0;
  }
  .nav__link {
    font-size: 3rem;
  }
  .nav__link:hover::after,
  .nav__link__active::after {
    left: unset;
    right: -3rem;
    font-size: 5rem;
    top: -0.1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .nav__link {
    color: var(--gold);
  }
  .nav__menu__button {
    color: var(--white);
  }
  .nav__menu__open {
    background-color: var(--black);
  }
  .nav__link:hover::after,
  .nav__link__active::after {
    color: var(--gold);
  }
}
