.section {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-gap: 3rem;
  position: relative;
}

.section__anchor {
  position: absolute;
  top: -10rem;
}

.section__1 {
  grid-column: span 1;
}

.section__2 {
  grid-column: span 2;
}

.section__title {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  color: var(--black);
}

.section__items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 4rem;
}

.section__row .section__items {
  grid-auto-flow: row;
  grid-auto-rows: min-content;
}

.section__column .section__items {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.section__item {
  display: block;
}

.section__item__detailed {
  display: grid;
  grid-template-areas:
    "image title"
    "image content"
    "links links";
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 2rem;
}

.section__item__collapsed {
  grid-template-areas: "image title";
  grid-template-rows: 2.5rem;
}

.section__item__collapse__icon {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.section__item__image {
  height: 18rem;
  width: 18rem;
  margin-right: 2rem;
  grid-area: image;
  border: 2px solid var(--black);
  border-radius: 2px;
}

.section__item__title {
  color: var(--black);
  grid-area: title;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0;
  justify-self: start;
  background: none;
  border: none;
  text-align: left;
  white-space: nowrap;
}

.section__item__title__alt {
  color: var(--purple);
}

.section__item__content {
  grid-area: content;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  justify-self: start;
  max-width: 61rem;
}

.list {
  color: var(--black);
  font-size: 1.6rem;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-gap: 2.5rem;
  margin-top: 1rem;
}

.list__item {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-areas:
    "number text"
    "number list";
}

.list__inner {
  grid-area: list;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.list__item__number {
  grid-area: number;
  text-transform: lowercase;
}

.list__item__text {
  grid-area: text;
}

.section__item__subtitle {
  color: var(--black);
  font-size: 1.6rem;
  text-decoration: underline;
  margin-top: 1.5rem;
}

.section__item__paragraph {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--black);
  margin: 0;
}

.section__item__links {
  grid-area: links;
}

.section__links {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section__item__detailed {
    grid-template-areas:
      "title"
      "image"
      "content"
      "links";
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
  .section__item__title {
    margin-bottom: 1.5rem;
  }
  .section__item__image {
    margin-bottom: 1.5rem;
    width: 20rem;
  }
  .section__item__links {
    margin-top: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .section__item__image {
    height: 15rem;
    width: 15rem;
  }
  .section__item__content {
    max-width: unset;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .section__item__title {
    white-space: unset;
  }
  .section {
    grid-column: span 2 !important;
  }
  .section__items {
    grid-auto-flow: row;
    grid-auto-rows: min-content;
  }
}

@media (prefers-color-scheme: dark) {
  .section__title,
  .section__item__title,
  .section__item__subtitle,
  .section__item__paragraph,
  .section__item__collapse__icon,
  .list {
    color: var(--white2);
  }
  .section__item__title__alt {
    color: var(--gold);
  }
  .section__item__image {
    border: 2px solid var(--white2);
  }
}
